<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>Angular Weather Widget</title>
    <style type="text/css">
      html {
        height: 100%;
        box-sizing: border-box;
      }
      body { height: 90%; }
      .container-demo {
        margin-top: 70px;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Angular Weather Widget</a>
        </div>
        <ul class="nav navbar-nav hidden-xs">
          <li class="active"><a href="javascript:;">Demo</a></li>
          <li><a href="https://github.com/krzysztofsaja/angular-weather-widget#installation">Installation</a></li>
          <li><a href="https://krzysztofsaja.github.io/angular-weather-widget/docs/">Documentation</a></li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid container-demo">
      <weather-demo-app>Loading demo...</weather-demo-app>
    </div>

  </body>
</html>
